.benefits {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    position: relative;
    max-width: 330px;
    width: 100%;
    padding: 100px 15px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: auto;
      width: 90px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--safe::before {
      background-image: url("../images/icon/benefits/protect-icon.svg");
    }

    &--system::before {
      background-image: url("../images/icon/benefits/truck-icon.svg");
    }

    &--quality::before {
      background-image: url("../images/icon/benefits/document-icon.svg");
    }

    &--cooperation::before {
      background-image: url("../images/icon/benefits/handshake-icon.svg");
    }
  }

  &__subtitle{
    margin-bottom: 15px;
  }
}