.benefits{
	&__list{
		display: flex;
		justify-content: space-between;
	}
	
	&__item{
		position: relative;
  max-width: 330px;
  width: 100%;
  padding-top: 90px;

		&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 60px;
		height: 60px;
		}

		&--safe::before {
  		background-image: url("../images/icon/benefits/protect-icon.svg");
		}

		&--complex::before {
  		background-image: url("../images/icon/benefits/truck-icon.svg");
		}

		&--quality::before {
  		background-image: url("../images/icon/benefits/document-icon.svg");
		}

		&--democracy::before {
  		background-image: url("../images/icon/benefits/handshake-icon.svg");
		}
	}
}