body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: flex;
    max-width: 260px;
}

.title {
    width: fit-content;
    position: relative;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        bottom: -15px;
        left: 0;
        border-bottom: 5px solid rgba(49,52,84, 0.5);
    }
}

.section{
    padding: 45px 0;
}